{:paths ["src/main"
         "src/test"]

 :deps {reagent {:mvn/version "0.9.1"}
        re-frame {:mvn/version "0.11.0"}
        thheller/shadow-cljs {:mvn/version "2.9.4"}}

 :aliases {:dev {:extra-paths ["src/test" "src/dev"]
                 :extra-deps {cider/cider-nrepl {:mvn/version "0.24.0"}}}}}
